html  {
	background-color: lightblue;
}

h1 {
	text-align: center;
	font-size: 32pt;
	width: 400px;
	height:70px;
	background-color: lightgray;
	border: solid 15px lightyellow;
	border-style: ridge;
	padding-top: 42px;
	padding-bottom: 25px;
	margin-top: 35px;
	margin-bottom: 25px;


	}

p {
	font-style: italic;
	font-size: 20pt;
}

#HW {
	text-align: center;
	font-size: 25pt;
	width: 350px;
	height:40px;
	background-color: lightgray;
	padding: 20px 0px;
	margin: 20px;
	border: dotted 4px;}

 li {
 	font-size: 20pt;
 	padding: 3px;

 }

 #assignments {
 	font-style: normal;
 	


 }